<div class="container">
    <mat-grid-list cols="2" rowHeight="7:6">
        <mat-grid-tile><img class="col-4" src="../../assets/images/logo.png" alt="logo" class="logo" /></mat-grid-tile>
        <mat-grid-tile>
            <p>Chest X-ray diagnosis support </p>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="nav-list">
        <button mat-button><mat-icon>dashboard</mat-icon>Diagnosis</button><br>
        <button mat-button><mat-icon>history</mat-icon>History</button>
    </div>
</div>
