<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img  class='logo' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj-ED3BQvqGMBCPWUMARtGlsU2e6DuZNmHKw&usqp=CAU" width="100px" height="400px">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

        <a class="nav-item nav-link navbar-item" routerLink="/home">Home</a>

  
        <a class="navbar-item">
          Medical record
        </a>

        <a class="navbar-item">
            About
          </a>
  
          <a class="navbar-item">
            Contact us
          </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            
            <a class="navbar-item">
              Report
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light">
              <strong>Sign up</strong>
            </a>
            <a class="nav-link navbar-item" routerLink="/user/1">Login</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
