<footer class="footer">
    <div class="columns is-desktop has-text-centered">
        <div class="column is-6">
          HOME
        </div>
        <div class="column is-3">
          ABOUT
        </div>
        <div class="column is-3">
          CONTACT
        </div>
        
      </div>
    <div class="content has-text-centered">
      <p>
        <strong>XRAY SUPPORT</strong> by <a href="https://goolgle.com">May Luu</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>