<div class="row">
  <p class="title">Medical Record</p>
</div>
<div class="row">
  <div class="col-md-12 col-lg-6">
    <h3>Patient information</h3>

    <form class="ml-6">
      <div class="form-group">
        <label for="name" class="text-secondary mt-2"
          >Patient Name<span class="text-danger ml-2">*</span></label
        >
        <input
          type="text"
          class="form-control is-valid"
          id="name"
          placeholder="Nguyen Van A"
        />
        <label for="dob" class="text-secondary mt-2"
          >Patient Birthday<span class="text-danger ml-2">*</span></label
        >
        <input type="text" class="form-control" id="dob" placeholder="Text" />
        <label for="sex" class="text-secondary mt-2"
          >Patient Sex<span class="text-danger ml-2">*</span></label
        >
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Selected item</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <label for="name" class="text-secondary mt-2">Patient Job</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Teacher"
        />
        <label for="address" class="text-secondary mt-2">Patient Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="HCM city"
        />
      </div>
      <h3>Medical information</h3>
      <label for="name" class="text-secondary mt-2"
        >Patient Symptoms<span class="text-danger ml-2">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Ho, sốt, cảm lạnh"
      />
      <label for="name" class="text-secondary mt-2"
        >Doctor advice<span class="text-danger ml-2">*</span></label
      >
      <textarea
        type="text-area"
        class="form-control"
        id="name"
        placeholder="Hint text"
      ></textarea>
    </form>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="row container">
      <div class="col-4">
        <h3>Chest X-ray Image</h3>
      </div>
      <div class="col-8">
        <input type="file" (change)="onChange($event)" />
      </div>
    </div>
    <div class="border border-primary border-dashed h-100 img-border">
      <div *ngIf="myImage">
        <img [src]="myImage" alt="" width="400px" height="500px" />
      </div>
    </div>
  </div>
</div>
